@model Jet_Skills_SMS_.Models.Student

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="login-container">
	<h2>Student Management System - Login</h2>

	@if (ViewBag.Error != null)
	{
		<div class="error">@ViewBag.Error</div>
	}

	@using (Html.BeginForm("Login", "Login", FormMethod.Post))
	{
		<div class="form-group">
			@Html.LabelFor(m => m.StudentId)
			@Html.TextBoxFor(m => m.StudentId, new { @class = "form-control", placeholder = "Enter username" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Password)
			@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter password" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.UserType)
			@Html.DropDownListFor(m => m.UserType,
			new SelectList(new[]{1, 2, 3}),
				"Select user type",
				new { @class = "form-control"})
		</div>

	<button type="submit" class="btn-login">Login</button>
		}
</div>
